
.text {
        width: 53rem;
        margin-left: 20%;
    }
    
.tjo 
    {
        padding-top: 2rem;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        
    }

.img
    {
        position: relative;
        max-width: 25%;
        top: 0rem;
        left: 0rem;
    }

.nav
    {
        display: flex;
        align-items: center;
        background-color: rgb(33, 94, 28);
        color: #ffffff;
    }

.body
    {
        background: rgb(255, 255, 255);
    color: rgb(33, 94, 28);
    font-family: 'Nunito', sans-serif;
    line-height: 1.5;
    margin: 0;
    }

.nav_inner {
        width: 100%;
    }

.nav_heading {
        color:#FEFED8;
        text-decoration: none;
    }

.container_nav{
        position: flex;
        max-width: 48rem;
        padding-right: 1rem;
        padding-left: 1rem;
        margin-right: auto;
        margin-left: auto;
}

.div {
    display: block;
}
.columns {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    justify-content: center;
  }
  
.column {
    flex: 33.33%;
  }

.img2 {
    position: relative;
        max-width: 25%;
        top: 0rem;
        left: 15rem;
}