
p {
        width: 53rem;
        display: flex;
        justify-content: center;
    }
    


img
    {
        position: relative;
        max-width: 25%;
        top: 0rem;
        left: 0rem;
    }


body
    {
    background-color: rgb(255, 255, 255);
    color: rgb(33, 94, 28);
    font-family: 'Nunito', sans-serif;
    line-height: 1.5;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav_inner {
        width: 100%;
    }

.nav_heading {
        color:#FEFED8;
        text-decoration: none;
    }

.container_nav{
        position: flex;
        max-width: 48rem;
        padding-right: 1rem;
        padding-left: 1rem;
        margin-right: auto;
        margin-left: auto;
}

.div {
    display: block;
}
.columns {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    justify-content: center;
  }
  
.column {
    flex: 33.33%;
  }

.img2 {
    position: relative;
        max-width: 25%;
        top: 0rem;
        left: 15rem;
}